

body{ 
    background-color: aquamarine;

}
#นิทาน {height: 50vh;
            width: 100vw;
            border-radius: 5px solid black;            
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;

}
#title{
     background-color: aqua;
    text-align: center;
    border: 3px solid black;
    border-radius: 80px ;
     box-shadow: 0 10px 20px rgba(0 0 0 0.6);
 
}
#content{
    background-color: aliceblue;
    border-radius: 80px;
    box-shadow: 0 10px 20px rgba(0 0 0 0.6);
}
footer{
    background-color: aqua;
    text-align: center;
    border: 3px solid black;
    border-radius: 80px ;
     box-shadow: 0 10px 20px rgba(0 0 0 0.6);

}